body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(54, 64, 72);
    color: #FFFFFF;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #0e0e0e;
    background-size: 16px 16px;
}

main {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    background: linear-gradient(288deg, rgba(0,0,0,1) 35%, rgb(4, 63, 113) 100%);
}

nav {
    padding: 0px;
    display: block;
    margin: 0px 20px 0px 0px;
}

nav a {
    color: white;
    text-decoration: underline;
    font-size: 14px;
    padding: 3px;
}

nav ul {
    display: inline-block;
    padding: 0px;
}

nav li {
    padding: 0px 0px 0px 5px;
    margin: 0px;
    display: inline-block;
}

nav li:last-child {
    border-width: 0px;
}

h1, h2, h3 {
    font-family: 'Advent Pro', sans-serif;
    color: #B2EBF2;
}

h1 {
    font-size: 24px;
    padding: 10px 60px 10px 60px;
    letter-spacing: 2px;
    background: #000000;
    color:#FFFFFF;
    display:block;
    margin:0px;
    text-align:center;
}

h2 {
    display: block;
    margin: 0px 0px 13px 0px;
    padding: 0px;
    font-size: 16px;
    text-align:left;
}

h3 {
    padding:10px 0px 10px 5px;
    margin:0px;
}

p {
    padding: 0px 10px 10px 5px;
    margin:0px;
    line-height: 20px;
    
}

section {
    padding: 10px;
    padding-top:20px;
}

section:nth-child(3) ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin: 0px 0px 10px 0px;

}

section:nth-child(3) li {
    padding-top: 10px;
    list-style-type: circle;
}

section:nth-child(4) {
    text-align:center;
    padding-bottom:20px;
}

figure {
    display: inline-block;
    margin: 10px 5px 5px 5px;
    vertical-align: top;
}

figure img {
    width: 230px;
    height: 100px;
}

figcaption {
    font-size: 13px;
    margin-top: -5px;
    padding: 5px;
}
